{% extends 'base.html' %}
{% block title %}Товары{% endblock %}
{% block menu %}
        <li class="nav-item"><a href="#" class="nav-link">Добавить товар</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center">Товары</h1>
    <div class="row">
        {% for product in product_list %}
            <div class="col col-3">
                <div class="card">
                    {% if product.photo %}
                        <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <a href="#" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}