{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ product.name }}{% endblock %}
{% block menu %}
        <li class="nav-item"><a href="{% url 'webapp:review_create' product.pk %}" class="nav-link">Добавить отзыв</a></li>
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                {% if product.photo %}
                    <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'product.jpg' %}" class="card-img" alt="base picture">
                {% endif %}
            </div>
        </div>
        <p><b>Категория:</b> {{ product.get_category_display }}</p>
        <p><b>Описание:</b> {{ product.description}}</p>
        <a href="{% url "webapp:product_update" product.pk %}" class="btn btn-primary m-2">Изменить</a>
        <a href="{% url "webapp:delete" product.pk %}" class="btn btn-primary m-2">Удалить</a>
    </div>
    {% for review in reviews %}
        <div class="card m-2">
            <div class="card-header">
                {{ review.user }}
            </div>

            <div class="card-body">
                <p class="card-text">Товар: {{ review.product }}</p>
                <p class="card-text">Отзыв: {{ review.text_review }}</p>
                <p class="card-text">Оценка: {{ review.rating }}</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <form><a href="#" class="btn btn-primary">Удаление</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="#" class="btn btn-primary">Редаклирование</a></form>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
        <p>Нет отзывов</p>
    {% endfor %}
{% endblock %}