{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <img src="{{ product.photo.url }}" class="img-fluid" alt="{{ product.name }}">
            </div>
        </div>
        <p><b>Категория:</b> {{ product.get_category_display }}</p>
        <p><b>Описание:</b> {{ product.description}}</p>
        <a href="{% url "webapp:product_update" product.pk %}" class="btn btn-primary m-2">Изменить</a>
        <a href="{% url "webapp:delete" product.pk %}" class="btn btn-primary m-2">Удалить</a>
    </div>
{% endblock %}